/* You can add global styles to this file, and also import other style files */

.spacer30{
    height:30px
}
.spacer50 {
  height: 50px
}

.spacer75 {
  height: 75px
}

.spacer100 {
  height: 100px
}
