<!-- <div *ngIf="router.url === '/rooms/1'">
  <div class="spacer30"></div>
  <h1>Welcome to the Halo Room</h1>
</div>

<div *ngIf="router.url === '/rooms/2'">
  <div class="spacer30"></div>
  <h1>Welcome to the Starfox Room</h1>
</div>

<div *ngIf="router.url === '/rooms/3'">
  <div class="spacer30"></div>
  <h1>Welcome to the Zelda Room</h1>
</div>


<div *ngIf="router.url === '/rooms/4'">
  <div class="spacer30"></div>
  <h1>Welcome to the Donkey Kong Room</h1>
</div> -->

<div>
  <h1>Welcome to the {{ databaseID }} Room! </h1>
<router-outlet></router-outlet>

</div>
